/*=============================================
	#Articles
=============================================*/

/**
*	Here are the the project articles  
**/

.col {

    @include span(12 of 12);
    background: $outerSpace;
    height: auto;
    margin-bottom: 20px;
    padding: 0 10px;
 

    .article-header {
        display: block;
        padding: 20px 0;
        text-align: center;
    }
    .article-content {
        padding: 0 20px;
    }

    p {
        color: #fff;
        font-family: Helvetica;
        font-size: em-calc(14);
    }

    h3 {
        font-family: Helvetica;
        margin: 20px 0;
    }
    // trial and error got the structure right
    .structure {  
        @include span(3 of 12);  
        margin: 0;
    }
    .math,
    .mixins {
        @include span(9 of 12);
        margin: 0;
    }

    .structure {
        height: 1480px;
        padding: 130px 0;
        background: $turquise;

        .article-content {
            width: 240px;
            margin: 0 auto;
        }
    }

    .math {
        height: 740px;
        padding: 20px 0;
        background: $towerGray;
        color: $black;

    }

    .mixins {
        height: 740px;
        padding: 104px 0;
        background: $black;
        color: #fff;

    }

// structure list 
    .comment {
        padding-left: 20%;
        color: #993a3a;
        border-bottom: 2px solid #993a3a;
    }

    .level-title {
        display: block;
        margin-bottom: 20px;
        text-align: center;
    }

    .level-0 {
        list-style: none;
        color: $white;
    }

    .level-1, .level-2, .level-3 {
        padding-top: rem-calc(5);
        padding-bottom: rem-calc(5);
        padding-left: rem-calc(30);
        list-style: none;
    }

    .level-1 > li:before,
    .level-2 > li:before,
    .level-3 > li:before,
    .file:before,
    .folder:before {
        font-family: 'FontAwesome';
        float: left;
        margin-left: -1.5em;
        color: #000;
    }

    .level-1 > li:before {
        content: "\f07c"; // folder
        
    }

    .level-2 > li:before {
        content: "\f07c"; // folder

    }

    .level-3 > li:before {
        content: "\f15c"; // file

    }

    .file:before {
        content: "\f15c" !important; // file
    }

    .folder:before {
        content: "\f07c" !important; // folder
    }

// snippet 

    .snippet {
        @include span(8);
        padding-left: 10px;
        float: none;
        margin: 20px auto;
        border-left: 4px solid #000;
        border-right: 4px solid #000;
        color: #fff;
        font-size: rem-calc(14);

        pre {
            vertical-align: middle;
        }
    }

    .article-footer {
        text-align: center;
        margin: 40px 0;
    }
    
}

