/* ============================================
	#Navigation
=============================================*/


/**
*
*	The main project navigation
*	
*	I will keep secondary navigations here
**/



.nav { 
	float: right; 
	text-align: right;
	margin: 0;

	ul{
		display: inline-block;
		margin: 0 auto;
		list-style: none;
		vertical-align: sub;
	}

	li{
		display: inline-block;
		padding-left: 20px;

		a { 
			color: $nav-links-color; 
			font-size: rem-calc(16); 
			text-decoration: none; 
			font-family: Helvetica; 
			transition: all 300ms ease;

			&:hover { 
				color: $nav-links-hover; 
				border: {
					bottom: 2px solid $nav-links-hover; 
				}

			}
		}

		.active { 
			color: $nav-links-color; 
			border: {
				bottom: 2px solid #fff; 
			}
		}
	}
	
}
.offset-wrapper {
	display: none;
}
.offset-nav {
	display: block;
	width: 250px;
	height: 100%;
	background: #000;
	color: #fff;
}






