/* ====================================================
	#Base Styles
=====================================================*/


/////////////////////	Project Utilities
@import 'utilities/normalize';
@import 'utilities/font-face';


////////////////////// Vendors
@import 'vendor/font-awesome/font-awesome';

/* 	Resets the box model so paddings stay normal
==================================================== */

* {
   box-sizing: border-box;
}

/* Base project styles
====================================================== */


// @include establish-baseline;
 
html {	
	position: relative;
	min-height: 100%;	
}


body {	
	width: 100%;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
}


body:before {
	content: "";
	display: table;
}

pre {
    display: inline-block;
    word-break: break-all;
    white-space: pre-line;
}


/** 
*	1) The project width controll
*	2) Uses the susy content to define
*	* the width of the project
*	3) Can be used in diffrent context with grid
*	* elements inside grids inside grids
**/
[class^="outer"] {
    @include container(100% $susy);
    display: block;
    padding: 0 2%;
}

[class^="inner"] {	
	@include container(1200px $susy);
    height: 100%;
}

.nested-container {
    @include container(100% $susy);
    display: block;
    padding: 0 4%;

}
