//////////////////////////////////          #Helper Extend Classes        //////////////////////////////////
//*
//*     Usage before any mixin include or selector properties
//*
// * True extend clearfix . this should be used when clearing elements ! 
// * (USAGE: .wrap {@extend %clearfix;} )
//*

//////////// Extends a custom reset for buttons


/////////// Extend version of the clearfix  
// * Micro clearfix hack 

//// For modern browsers
//// 1. The space content is one way to avoid an Opera bug when the
////    contenteditable attribute is included anywhere else in the document.
////    Otherwise it causes space to appear at the top and bottom of elements
////    that are clearfixed.
//// 2. The use of `table` rather than `block` is only necessary if using
////   `:before` to contain the top-margins of child elements.

// For IE 6/7 only
// Include this rule to trigger hasLayout and contain floats.

%clearfix {
  *zoom: 1;

  &:before, &:after {
    content: " ";     // 1
    display: table;   // 2  
  }
  &:after {
    clear: both;
  }
}



////////////    #Hide elements on page via extend    ////////////
%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}


/* Helper classes  */
.open {
    display: block !important;
}

.close {
    display: none !important;
}
