//========================================================
//	#0.3.2 Global Variabless
//========================================================


//// Pattern colors
    $outerSpace: #323c3c;
    $towerGray: #aabebe;
    $caribbeanGreen: #00d796;
    $turquise: #37dcc8;
    $susy-color: #FF0080;
    $white: #fff !default;
    $black: #000 !default;


//// Project section colors
//-----------------------------------

//general containers
    $header-bg: $outerSpace;
    $header-borderBot: $towerGray;

    $mainContent-bg: $white;

    $footer-bg: $outerSpace;
    $footer-text: $caribbeanGreen;
    $footer-borderTop: $towerGray;

//header elements
    $title-color: $caribbeanGreen;
    $nav-links-color: $caribbeanGreen;
    $nav-links-hover: $white;

//main container elements
    $info_box-color: $outerSpace;

//  footer elements



//// Base project sizes
//------------------------------------

    $base-font-size: 16px;
    $base-line-height: 20px;
    $base-font-family: serif !default;

//// Base style elements (default)
//-------------------------------------
// Border Radis
    $border-radius-default: 4px;  			// Border Radius default

// Input Placeholder
    $placeholder-color-default: $black;      // Input placeholder color 


//// Heading sizes 
//-------------------------------------
    $font-size-h1: em-calc(32px);
    $font-size-h2: em-calc(24px);
    $font-size-h3: em-calc(19px);
    $font-size-h4: em-calc(16px);
    $font-size-h5: em-calc(13px);
    $font-size-h6: em-calc(11px);

//// Buttons 
//-------------------------------------



//// Articles - (using material principles)
//--------------------------------------
    $article-shadow-default: 0px 2.5px 8px -3px #000;

//// Universal paths 
//-------------------------------------

//// Fonts
    $font_path: "fonts";


//// Images
    $image_path: "dev/img";
