//////////////////////////////////////////////////
//	#Susy Control Pannel
//////////////////////////////////////////////////


/**
*
* 1) Number of columns our grid has
* 2) Gutter width .20 = 20px
* 3) Type of math we use
* 4) Centers container chech _base.scss
* 5) Were the gutters are after = outside , inner = inside,
* 5.5) split = left, right gutters (half 10 + 10 to get 20)
*
**/


$susy: (
	  columns: 12, 				
	  gutters: .20,				
	  math: fluid,			
	  output: float,
	  container-position: center,		
	  gutter-position: split,			
);

