/* ================================================
	#Buttons 
=================================================*/

%button {
    display: inline-block;
    padding: 10px;
    margin: {
        top: 10px;
        right: 10px;
        left: 0;
        bottom: 0;
    }
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-family: Helvetica;
    transition: all 300ms ease;
}


.button-website , .button-doc {
    @extend %button;
}

.button-website {
    background: $outerSpace;

    &:hover {
        background: #fff;
        color: $outerSpace;
    }
}

.button-doc {
    background: #EA7373;
    &:hover {
        background: #fff;
        color: #EA7373;
    }
}

.button-doc--white {
    background: #fff;
    color: #000;
}

.menu-trigger {
    display: none;
    float: right;
    background: none;
    color: #00D796;
    border: none;
    font-size: rem-calc(24);
    transition: all 300ms ease;

    &:focus,
    &:hover,
    &:active {
        color: #000;
    }
}