/* =============================================
	#Headings 
============================================= */


h1 {
   color: #fff;
   font: {
      size: $font-size-h1;
      family: PtSansSerifRegular;
   }
}

h2 {
   color: #fff;
   font: {
      size: $font-size-h2;
      family: PtSansSerifRegular;
   }
}

h3 {
   color: #fff;
   font: {
      size: $font-size-h3;
      family: PtSansSerifRegular;
   }
}

h4 {
   color: #fff;
   font: {
      size: $font-size-h4;
      family: PtSansSerifRegular;
   }
}

h5 {
   color: #fff;
   font: {
      size: $font-size-h5;
      family: PtSansSerifRegular;
   }
}

h6 {
   color: #fff;
   font: {
      size: $font-size-h6;
      family: PtSansSerifRegular;
   }
}