/* =================================================
	#Logo
==================================================*/
/**
*
*	The logo atom 
*
**/


.title { 
	display: inline-block;
	float: left; 
	margin: 0;
	color: $title-color;
	font-size: rem-calc(30); 
	line-height: rem-calc(28); 
	font-family: Helvetica; 
	font-weight: bold;
	transition: all 200ms ease;
	a { 
		text-decoration: none; 
	}
	&:hover {
		color: $white;
	}	
}
